:root {

    /* App Colors */
    --white: #FFFFFF;
    --black: #000000;
    --backgroundColor: #FFFDF5;
    --boxEnhanceAndHover: #FFEEBF;
    --clickColor: #FFE96B;
    --lineColor: #B1B1B1;
    --allFontAndIconColor: #333333;

    /* Font Typography */
    --massiveSize: 50px;
    --bigSize: 30px;
    --mediumSize: 20px;
    --mediumSmallSize: 18px;
    --smallMediumSize: 15px;
    --smallSize: 12px;
    --BOLD: 700;

    /* Spacing */
    --XL: 100px;
    --L: 45px;
    --M: 30px;
    --S: 20px;
    --XS: 15px;

}

