@import './colorPalette.css';

#TimerPageContainer {
    position: absolute;
    top: 110px;
    bottom: 110px;

    flex-direction: column;

    gap: 40px;

    height: 672px;
    width: 393px;

    align-items: center;
    

}

#EggTimerContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#EggTimer {
    height: 445px;
    width: 355px;
    background-image: url(./Images-Fonts/EggBasic.png);
    background-size: cover;
    background-position: center;

    text-align: center;
    font-size: var(--massiveSize);
}

#EggTimer p {
    margin-top: 100px;
}

#StartTimerButton {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: var(--bigSize);
}

#StartTimerButton:hover {
    background-color: var(--boxEnhanceAndHover);
    cursor: pointer;
    border-radius: 10px;
}

#ProteinAndEggChoices {
    background-color: var(--boxEnhanceAndHover);
    text-align: left;
    padding: 20px;

    display: flex;
    gap: 10px;

    width: 100%;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;

}

#AudioButton {
    height: 50px;
    width: 50px;
    object-position: center;
    object-fit: cover;

    padding: 10px;
    background-color: var(--white);
    border-radius: 10px;
}

#CompleteChoicesText {
    font-size: var(--smallMediumSize);
    margin: 0;
}

#AudioButton:hover {
    cursor: pointer;
    background-color: var(--boxEnhanceAndHover);
}

#SignalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    z-index: 9999;
    flex-direction: column;
    padding: 20px;

    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--allFontAndIconColor);
    
}

#PopupTop {
    display: flex;
    justify-content: space-between;

}

#TimerSignalHeader {
    font-size: var(--bigSize);
    display: block;
    margin: 0px 0px 20px 0px;
}

#TimerSignalExit {
    border: 1px solid var(--allFontAndIconColor);
    font-size: var(--bigSize);
    background: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;

    font-size: var(--smallMediumSize);
}

#TimerSignalExit:hover {
    cursor: pointer;
    background-color: rgb(255, 98, 98);
}

#SignalButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.SignalButtons {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid var(--allFontAndIconColor);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SignalButtons img {
    height: 30px;
    width: 30px;
}

.SignalButtons:hover {
    background-color: var(--boxEnhanceAndHover);
    cursor: pointer;
}

#SaveSignalButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(168, 168, 168);
    border: 1px solid var(--allFontAndIconColor);
    height: 55px;
    font-size: var(--bigSize);

    margin: 20px 0px;
}

#SaveSignalButton:hover {
    background-color: rgb(98, 255, 98);
    cursor: pointer;
}